name: Proxy configuration manipulation
description: Detects PowerShell activity that creates, modifies, or references proxy configuration mechanisms (e.g., WebProxy objects, SOCKS proxies, or proxy-related registry/value changes), which are commonly used to reroute traffic, bypass network controls, or blend malicious communications into proxied environments.
regex: WebProxy\(|\S+\.proxy\s*=|\bproxy(enable|server).*value|SocksProxy
basescore: 8.2
tactic: [TA0005, TA0011]
technique: [T1090, T1562.001]
reference:
  - https://attack.mitre.org/techniques/T1090/
  - https://attack.mitre.org/techniques/T1562/001/
  - https://github.com/SigmaHQ/sigma/blob/master/rules/windows/powershell/powershell_script/posh_ps_proxy_configuration.yml
  - https://github.com/redcanaryco/atomic-red-team/blob/master/atomics/T1090/T1090.md
  - https://github.com/SigmaHQ/sigma/blob/master/rules/linux/process_creation/proc_creation_lnx_proxy_connection.yml
